# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# Exclude everything by default
*

# Only include essential application files
!index.js
!server.js
!app.js
!function.js
!index.html
!style.css
!schemas.js
!molecular-processor.js
!AtomPredictor.js
!sdf.py
!crystal.py
!camera.svg
!water.svg
!waves.svg
!package.json
!__init__.py

# Allow sdf_files directory (but not its contents initially)
!sdf_files/
sdf_files/*

# Node modules (will be installed by Cloud Functions)
node_modules
