runtime: nodejs20
service: default

env_variables:
  NODE_ENV: production
  GOOGLE_CLOUD_PROJECT: mol-analysis-app

handlers:
- url: /.*
  script: auto
  secure: always

automatic_scaling:
  min_instances: 0
  max_instances: 10
  target_cpu_utilization: 0.6
